.button {
  @include reset-btn;

  padding: 15px 45px;

  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: $color-dark-3xl;

  background-color: $color-primary;
  border-radius: 100px;

  transition: .3s ease-in-out;

  &:hover {
    background-color: $color-primary-light;
  }

  &--transparent {
    background-color: transparent;
    border: 2px solid $color-primary;
    cursor: pointer;

    &:hover {
      background-color: $color-primary-light;
      border-color: $color-primary-light;
    }
  }
}