.our-friends {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  background-color: $color-light-l;

  @include media-tablet {
    padding-top: 80px;
    padding-bottom: 100px;
  }
}

.our-friends__cards {
  transform: translate3d(0px, 0, 0) !important;
}

.our-friends__title {
  margin-bottom: 40px;

  @include media-tablet {
    margin-bottom: 60px;
  }
}

.swiper {
  margin-bottom: 20px;

  @include media-tablet {
    margin-bottom: 60px;
  }
}

.our-friends__link {
  display: inline-block;
  text-decoration: none;
}

.our-friends__card {
  min-height: 435px;
  max-width: 270px;
  background-color: $color-light-s;
  border-radius: 9px;
  transition: box-shadow .3s ease-in-out, background-color .3s ease-in-out;

  &:hover {
    background-color: $color-light-xl;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    cursor: pointer;

    & .card__button {
      background-color: $color-primary-light;
      border-color: $color-primary-light;
    }
  }
}

.card__img {
  margin-bottom: 30px;
  border-radius: 9px 9px 0px 0px;
}

.card__title {
  margin-bottom: 32px;

  @include font($size: 20px);
  letter-spacing: 0.06em;

  color: $color-dark-l;
}

.card__button {
  margin-bottom: 30px;
  padding: 13px 42px;
}

.our-friends__button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 52px;
  height: 52px;
  border-radius: 100px;
  color: $color-dark-3xl;
}
