.about {
  padding-top: 40px;
  margin-bottom: 40px;

  @include media-tablet {
    padding-top: 80px;
    margin-bottom: 90px;
  }

  & .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include media-desktop {
      flex-direction: row;
      align-items: flex-start;
    }
  }
}

.about__inner {
  max-width: 430px;
  padding-top: 15px;
  margin-bottom: 20px;
  text-align: center;

  @include media-tablet {
    margin-bottom: 55px;
    padding-top: 0;
    text-align: left;
  }

  @include media-desktop {
    margin-bottom: 0;
    order: 1;
  }
}

.about__title {
  margin-bottom: 23px;
}

.about__desc {
  margin-bottom: 22px;

  font-family: $font-family--arial;
  line-height: 160%;

  color: $color-dark-xl;

  @include media-mobile-only {
    text-align: justify;
    letter-spacing: 0;
  }

  @include media-tablet {
    margin-bottom: 25px;
  }
}

.about__img {

  @include media-tablet {
    width: 300px;
    height: 408px;
  }

  @include media-desktop {
    margin-right: 120px;
  }
}
